.f-lg-xs {
    font-size: 12px;
    line-height: 16px;
}
.f-lg-s {
    font-size: 14px;
    line-height: 20px;
}
.f-lg-m {
    font-size: 16px;
    line-height: 24px;
}
.f-lg-l {
    font-size: 18px;
    line-height: 28px;
}
.f-lg-xl {
    font-size: 20px;
    line-height: 28px;
}
.f-lg-2xl {
    font-size: 24px;
    line-height: 32px;
}
.f-lg-3xl {
    font-size: 30px;
    line-height: 36px;
}
.f-lg-4xl {
    font-size: 36px;
    line-height: 40px;
}
.f-lg-5xl {
    font-size: 48px;
    line-height: 54px;
}
.f-lg-6xl {
    font-size: 54px;
    line-height: 62px;
}

@media screen and (max-width: 1023px) {
    .f-md-xs {
        font-size: 12px;
        line-height: 16px;
    }
    .f-md-s {
        font-size: 14px;
        line-height: 20px;
    }
    .f-md-m {
        font-size: 16px;
        line-height: 24px;
    }
    .f-md-l {
        font-size: 18px;
        line-height: 28px;
    }
    .f-md-xl {
        font-size: 20px;
        line-height: 28px;
    }
    .f-md-2xl {
        font-size: 24px;
        line-height: 32px;
    }
    .f-md-3xl {
        font-size: 30px;
        line-height: 36px;
    }
    .f-md-4xl {
        font-size: 36px;
        line-height: 40px;
    }
    .f-md-5xl {
        font-size: 48px;
        line-height: 54px;
    }
    .f-md-6xl {
        font-size: 54px;
        line-height: 62px;
    }
}

@media screen and (max-width: 767px) {
    .f-xs {
        font-size: 12px;
        line-height: 16px;
    }
    .f-s {
        font-size: 14px;
        line-height: 20px;
    }
    .f-m {
        font-size: 16px;
        line-height: 24px;
    }
    .f-l {
        font-size: 18px;
        line-height: 28px;
    }
    .f-xl {
        font-size: 20px;
        line-height: 28px;
    }
    .f-2xl {
        font-size: 24px;
        line-height: 32px;
    }
    .f-3xl {
        font-size: 30px;
        line-height: 36px;
    }
    .f-4xl {
        font-size: 36px;
        line-height: 40px;
    }
    .f-5xl {
        font-size: 48px;
        line-height: 54px;
    }
    .f-6xl {
        font-size: 54px;
        line-height: 62px;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}
